@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Oxanium:wght@200..800&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Courier Prime", cursive
} 

:root {
    font-size: 16px;
}

body {
    background-image: url(/frontend/imgs/background.png);
    color: #f2f2f2;
}

.conteiner {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.login {
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px;
    
}

.login > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login_from {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__input {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 5px;
    margin-bottom: 6px;
}


.login__button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login__button:hover {
    background-color: #fff;

}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__messages {
    padding: 30px 30px 90px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.chat__form {
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
    cursor: text;
}

.chat__button {
    border:none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat__messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
}

.message--self {
    background-color: #f2f2f2;
    color: #121212;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.messages-other {
    background-color: #333;
    color: #f2f2f2;
    border-radius: 10px 10px 10px 0;
    align-self: flex-start;
}

.message--sender {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    
}

.message_sender_self {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    
}